---
import {
	postListNumber,
	getPostCollectionLength,
	getPosts,
} from "../../scripts/data";
import { range } from "../../scripts/lib";
import Overlay from "../../layouts/Overlay.astro";
import PostPreview from "../../components/PostPreview.astro";
import PostPagination from "../../components/PostPagination.astro";

export async function getStaticPaths() {
	const pages = await getPostCollectionLength();

	return range(pages).map((v) => ({
		params: {
			pageNumber: v + 1 + "",
		},
	}));
}
const pageNumber = +(Astro.params.pageNumber + "");

const postsStartNumber = (pageNumber - 1) * postListNumber;
const posts = (await getPosts()).slice(
	postsStartNumber,
	postsStartNumber + postListNumber
);
---

<Overlay title="Feed">
	<h1 class="text-center">Posts</h1>
	<br />
	<PostPagination pageNumber={pageNumber} />

	<div
		class="d-flex gap-2 mb-5 flex-wrap align-items-center justify-content-center"
	>
		{
			posts.map((v) => (
				<div>
					<PostPreview {...v} />
				</div>
			))
		}
	</div>

	<PostPagination pageNumber={pageNumber} />
</Overlay>
