---
import {
	postListNumber,
	getPostCollectionLength,
	getPosts,
} from "../../scripts/data";
import { range } from "../../scripts/lib";
import Overlay from "../../layouts/Overlay.astro";
import PostPreview from "../../components/PostPreview.astro";
import PostPagination from "../../components/PostPagination.astro";

export async function getStaticPaths() {
	const pages = await getPostCollectionLength();

	return range(pages).map((v) => ({
		params: {
			pageNumber: v + 1 + "",
		},
	}));
}
const pageNumber = +(Astro.params.pageNumber + "");

const postsStartNumber = (pageNumber - 1) * postListNumber;
const posts = (await getPosts()).slice(
	postsStartNumber,
	postsStartNumber + postListNumber,
);
---

<!--
		I'm actually going to leave this code here cause it's really cool and I may want to use it in the future (knowing me I will almost certainly never use it though lol)
		<video
		id="scroll-video"
		style="position: fixed; width:100vw;left: 0; height:100%; object-fit: cover; top:0;"
		src={Vid}
	></video>
	<script>
		const repeats = 1;
		const vid = document.getElementById("scroll-video");
		window.addEventListener("scroll", function () {
			var h = document.documentElement,
				b = document.body,
				st = "scrollTop",
				sh = "scrollHeight";
			const percent = (h[st] || b[st]) / ((h[sh] || b[sh]) - h.clientHeight);
			console.log((percent * repeats) % 1);
			vid.currentTime = vid.duration * ((percent * repeats) % 1);
		});
	</script> -->
<Overlay title="Feed">
	<h1 class="text-center">Posts</h1>
	<br />
	<PostPagination pageNumber={pageNumber} />

	<div
		class="d-flex gap-2 mb-5 flex-wrap align-items-center justify-content-center"
	>
		{
			posts.map((v) => (
				<div>
					<PostPreview {...v} />
				</div>
			))
		}
	</div>

	<PostPagination pageNumber={pageNumber} />
</Overlay>
