---
import PixelImage from "../components/PixelImage.astro";
import Overlay from "../layouts/Overlay.astro";
import muffin404 from "../assets/404-muffin.png?url";
---

<Overlay title="404 | Page not found">
	<h1>404</h1>
	<p>Sorry but there was an error, the page you have gone to does not exist.</p>
	<PixelImage
		src={muffin404}
		class:list={"img-fluid rounded"}
		style="max-height: 50vh; width: auto; max-width: 100%; object-fit: contain;"
	/>
	<p><em> BRUTAL</em></p>
</Overlay>
