---
import PixelImage from "../components/PixelImage.astro";
import Overlay from "../layouts/Overlay.astro";
import muffin404 from "../assets/404-muffin.png";
---

<Overlay title="404 | Page not found">
	<div class="container text-center">
		<h1>404</h1>
		<p>
			Sorry but there was an error, the page you have gone to does not exist.
		</p>
		<PixelImage
			class:list={"img-fluid rounded"}
			src={muffin404}
		/>
		<!-- <Icon
			className="img-fluid"
			alt={`A brutal pixel art image of the execution of the muffin in ${name}'s logo with a blade inscribed with the number 404 on it.`}
			iconName="muffin404"
		/> -->
		<p><em> BRUTAL</em></p>
	</div>
</Overlay>
