---
import Icon from "@components/Icon";
---

<span
	class="dark-invisible"
	data-bs-toggle="tooltip"
	data-bs-title="This site was designed with dark mode in mind because I am a dark mode user. Light mode should work but may be less functional or have less styling"
>
	<Icon iconName="exclamation-triangle" />
</span>
<script src="@scripts/tooltips.ts"></script>
