---
import { capitaliseWords } from "@scripts/lib";
import Icon, { images } from "@components/Icon";
import Breadcrumbs from "./Navbar/Breadcrumbs.astro";
import ThemePicker from "./ThemePicker.astro";
import LightmodeWarning from "./Navbar/LightmodeWarning.astro";
import { name, paths } from "../scripts/data";
---

<header
	class="sticky-top z-4"
	style="backdrop-filter: blur(5px); -webkit-backdrop-filter: blur(5px);"
>
	<nav
		class="navbar navbar-expand-md bg-body-tertiary border-bottom"
		style="--bs-bg-opacity:0.75;"
	>
		<div class="container-fluid">
			<a
				class="navbar-brand my-auto d-flex flex-row"
				href="/"
			>
				<div class="my-auto">
					<Icon
						className="img-fluid"
						iconName="logo"
						alt={name}
						width={39}
						height={(39 / images.logo.width) * images.logo.height}
						style={{ marginRight: "5px" }}
					/>
				</div>
				<div class="my-auto">
					{name}
				</div>
			</a>
			<button
				class="navbar-toggler my-auto"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#headerSupportedContent"
				aria-controls="navbarSupportedContent"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div
				class="collapse navbar-collapse"
				id="headerSupportedContent"
			>
				<ul
					class="navbar-nav w-100 navbar-nav-scroll"
					style="--bs-scroll-height: 50vh;"
				>
					{
						paths.map((v) => (
							<li class="nav-item my-auto">
								<a
									class:list={[
										"nav-link",
										"active",
										"link-offset-2",
										"link-offset-3-hover",
										"link-underline-opacity-50",
										"link-underline-opacity-100-hover",
										"link-body-emphasis",
									]}
									style="text-decoration: underline; transition: text-underline-offset 0.25s;"
									href={v.path}
								>
									{capitaliseWords(v.name)}
								</a>
							</li>
						))
					}
					<li>
						<hr />
					</li>
					<li class="nav-item my-auto">
						<ThemePicker />
						<LightmodeWarning />
					</li>
					<li class="nav-item ms-auto my-auto">
						<Breadcrumbs />
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
