@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

@media (min-width: 768px) {
	.rounded-md-start {
		border-bottom-left-radius: var(--bs-border-radius) !important;
		border-top-left-radius: var(--bs-border-radius) !important;
	}
}

@media (max-width: 767.8px) {
	.rounded-md-down-top {
		border-top-left-radius: var(--bs-border-radius) !important;
		border-top-right-radius: var(--bs-border-radius) !important;
	}
}

[data-bs-theme="dark"] {
	--bs-body-bg: #12161a;
	/* background: rgb(110, 72, 181); */
}
[data-bs-theme="dark"] body {
	/* background: rgb(110, 72, 181); */
	background: url(/grain1.svg),
		linear-gradient(
			194deg,
			#bd55ff 0%,
			rgba(133, 61, 255, 0.463) 22%,
			rgba(21, 3, 51, 0) 85%,
			rgba(81, 56, 128, 0.5) 100%
		);
}
[data-bs-theme="dark"] .dark-invisible {
	display: none !important;
}
[data-bs-theme="light"] .light-invisible {
	display: none !important;
}
* {
	font-family: "Cabin", sans-serif;
}
html,
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.remove-before::before,
.remove-after::after {
	display: none !important;
}
