---
import BaseLayout from "./BaseLayout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { name } from "../scripts/data";

export interface Props {
	title: string;
}

const props = Astro.props;

const title = props.title.trim();

if (!(title && title != "")) throw new Error("Page must have a title");
---

<BaseLayout>
	<title slot="head">
		{title} | {name}
	</title>

	<Navbar
		transition:name="navbar"
		transition:persist
		transition:animate="initial"
		slot="before-content"
	/>

	<div
		class="container"
		transition:animate="slide"
	>
		{/*style="min-height: calc( 100svh - ( 57px + 64px + 1px ) );"*/}
		<div class="row align-items-start">
			<div class="col">
				<main
					class:list={["px-3", "py-2", "text-center", "d-flex flex-column"]}
				>
					<slot />
				</main>
			</div>
		</div>
	</div>

	<Footer
		slot="after-content"
		transition:name="footer"
		transition:persist
		transition:animate="initial"
	>
		<slot name="footer-content" />
	</Footer>
</BaseLayout>
