---
import BaseLayout from "./BaseLayout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { name } from "../scripts/data";

export interface Props {
	title: string;
	isArticle?: boolean;
}

const props = Astro.props;

const title = props.title.trim();

if (!(title && title != "")) throw new Error("Page must have a title");
---

<BaseLayout>
	<title slot="head">
		{title} | {name}
	</title>

	<Navbar
		transition:name="navbar"
		transition:persist
		transition:animate="initial"
		slot="before-content"
	/>

	<main
		class:list={[
			"px-3",
			"py-2",
			"text-start",
			"d-flex flex-column",
			"container",
		]}
		transition:animate="slide"
		transition:name="content"
	>
		{
			props.isArticle ? (
				<article>
					<slot />
				</article>
			) : (
				<slot />
			)
		}
	</main>

	<Footer
		slot="after-content"
		transition:name="footer"
		transition:persist
		transition:animate="initial"
	>
		<slot name="footer-content" />
	</Footer>
</BaseLayout>
