---
import BaseLayout from "./BaseLayout.astro";
import type { MarkdownLayoutProps, MDXLayoutProps } from "astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import type { postScheme } from "../content/config";
import type { z } from "astro:content";
import { name } from "../scripts/data";

interface BaseProps {
	title: string;
}
type BP<T extends Record<string, any>> =
	| T
	| MarkdownLayoutProps<T>
	| MDXLayoutProps<T>;

export type Props = BP<BaseProps | z.output<typeof postScheme>>;

const props = Astro.props;
const title =
	(
		("title" in props ? props.title : props?.frontmatter?.title) ??
		"Title missing, please contact owner"
	).trim() + ` | ${name}`;
---

<BaseLayout theme="dark">
	<title slot="head">
		{title}
	</title>

	<Navbar
		transition:name="navbar"
		transition:persist
		transition:animate="initial"
		slot="before-content"
	/>

	<div
		class="container"
		transition:animate="slide"
	>
		{/*style="min-height: calc( 100svh - ( 57px + 64px + 1px ) );"*/}
		<div class="row align-items-start">
			<div class="col">
				<main
					class:list={["px-3", "py-2", "text-center", "d-flex flex-column"]}
				>
					<slot />
				</main>
			</div>
		</div>
	</div>

	<Footer
		slot="after-content"
		transition:name="footer"
		transition:persist
		transition:animate="initial"
	>
		<slot name="footer-content" />
	</Footer>
</BaseLayout>
