body {
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: Segoe UI,Microsoft Sans Serif,Arial;
    font-size: small;
    color: #333;
    padding: 30px
}

@media screen and (max-width:500px) {
    body {
        padding: 0
    }
}

.languageDropDown {
    border: 1px solid #365a8f;
    height: 30px;
    width: 250px;
    border-radius: 4px;
    outline: none;
    margin-top: 5px;
    margin-bottom: 5px
}

.sign-up {
    text-decoration: none
}

    .sign-up:hover {
        color: gray
    }

.login-box-1 {
    width: 310px;
    border: 1px solid #365a8f;
    box-shadow: 0 0 20px black;
    background-color: rgba(255,255,255,.85);
    margin: auto;
    transform: translateY(30%);
    border-radius: 10px
}

@media screen and (max-height:830px) {
    .login-box-1 {
        transform: translateY(0%)
    }

    .successRego {
        display: none
    }
}

.login-box-3 {
    width: 310px;
    height: 75px;
    border: 1px solid #365a8f;
    box-shadow: 0 0 20px black;
    background-color: rgba(255,255,255,.85);
    position: absolute;
    left: 50%;
    bottom: -135px;
    transform: translate(-50%,-50%);
    border-radius: 10px
}

.LoginLogoContainer {
    margin-top: 10px;
    max-height: 80px;
    text-align: center
}

.LoginLogo {
    max-height: 80px;
    max-width: 310px
}

.LoginLogoText-1 {
    text-align: center;
    width: 100%;
    font-size: 17px;
    margin: 10px 0;
    pointer-events: none
}

.LoginFields {
    text-align: center
}

.LoginFieldTitle {
    margin-bottom: 0;
    pointer-events: none
}

.LoginForm input[type="text"], .LoginForm input[type="password"] {
    width: 250px !important;
    border-radius: 4px;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border: 1px solid #365a8f;
    outline: none
}

#LoginError {
    display: inline-block
}

.LoginButton {
    background-color: #365a8f;
    color: #fff;
    margin-top: 5px;
    font-size: 12px;
    width: 250px !important;
    border-radius: 4px;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    box-sizing: border-box;
    border: 1px solid #365a8f;
    outline: none;
    transition: background-color .3s ease-in-out,box-shadow .3s ease-in-out;
    text-decoration: none
}

    .LoginButton:hover {
        background-color: #add8e6;
        box-shadow: inset 0 0 70px #365a8f
    }

.RequiredEmail {
    position: absolute
}

.RequiredPassword {
    position: absolute
}

.forgotDiv {
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 10px;
    display: block;
    text-align: center
}

.loginHelpLogo {
    font-size: 20px;
    color: #036;
    cursor: pointer;
    float: left;
    transition: color .2s ease-in-out
}

    .loginHelpLogo:hover {
        color: #999
    }

.loginDownLoadLogo {
    font-size: 20px;
    color: #036;
    cursor: pointer;
    float: left;
    padding-left: 15px;
    transition: color .2s ease-in-out
}

    .loginDownLoadLogo:hover {
        color: #999
    }

.ForgotPassword {
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #036
}

    .ForgotPassword:hover {
        color: #999
    }

.AdminPortalLink {
    cursor: pointer;
    color: #036;
    padding-left: 86px;
    text-decoration: none
}

    .AdminPortalLink:hover {
        color: #999
    }

.LoginFooter {
    display: inline-block;
    line-height: 17px;
    padding-left: 12px;
    padding-bottom: 7px
}

#support > a {
    color: #fff !important
}

    #support > a:hover {
        cursor: pointer;
        color: grey !important
    }

.login-box-2 {
    width: 310px;
    height: 450px;
    border: 1px solid #365a8f;
    box-shadow: 0 0 20px black;
    background-color: rgba(255,255,255,.85);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px
}

.LoginLogoText-2 {
    text-align: center;
    width: 100%;
    font-size: 17px;
    margin-bottom: 13%
}

.login-password-text {
    margin-left: 50%;
    transform: translate(-50%);
    text-align: center;
    color: #000;
    width: 90%;
    margin-bottom: 10%
}

#txtEmail {
    margin-left: 50%;
    transform: translate(-50%)
}

.PasswordResetButton {
    cursor: pointer;
    background-color: #365a8f;
    color: #fff;
    margin-right: 3px;
    margin-left: 3px;
    transition: background-color .3s ease-in-out,box-shadow .3s ease-in-out
}

    .PasswordResetButton:hover {
        background-color: #add8e6;
        box-shadow: inset 0 0 50px #365a8f;
        border: 1px solid #365a8f
    }

.divShowSuccessEmail {
    width: 310px;
    height: 80px;
    border: 1px solid #365a8f;
    box-shadow: 0 0 20px black;
    background-color: rgba(255,255,255,.85);
    position: absolute;
    left: 50%;
    top: 7%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    text-align: center
}

.alert-text {
    font-family: arial black;
    color: #036
}

.loading-position {
    position: absolute;
    top: 410px
}

.exit-div {
    cursor: pointer;
    position: absolute;
    background-color: #fff;
    top: 12px;
    right: 10px;
    height: 12px;
    width: 12px;
    font-family: arial black;
    color: #036;
    border: 1px solid #036;
    transition: color .2s ease-in-out,border .2s ease-in-out,background-color .5s ease-in-out
}

    .exit-div:hover {
        color: #999;
        border: 1px solid #999;
        background-color: transparent
    }

.footer {
    background: #000;
    padding: 5px 20px;
    border-top: 1px solid #365a8f;
    box-shadow: 0 0 10px black;
    position: fixed;
    font-size: 10px;
    bottom: 0;
    left: 0;
    color: #fff;
    width: 100vw;
    clear: both;
    z-index: 10
}

    .footer div {
        width: auto
    }

        .footer div:nth-child(1) {
            text-align: left;
            float: left
        }

        .footer div:nth-child(2) {
            text-align: right;
            float: right
        }

        .footer div:nth-child(3) {
            text-align: right;
            vertical-align: top
        }

        .footer div:nth-child(1) a {
            color: #fff !important;
            text-decoration: none
        }

.successRego {
    width: 310px;
    border: 1px solid #365a8f;
    box-shadow: 0 0 20px black;
    background-color: rgba(255,255,255,.85);
    position: absolute;
    left: 50%;
    top: 7%;
    padding-top: 9px;
    padding-bottom: 9px;
    transform: translate(-50%,-50%);
    text-align: center;
    border-radius: 10px;
    font-size: 12px
}

.mainContainer {
    margin: auto;
    background-color: rgba(255,255,255,.85);
    border: 1px solid #365a8f;
    max-width: 750px;
    padding-top: 20px;
    box-shadow: 0 0 10px black;
    border-radius: 10px
}

.RegisterTextbox, .locationDropDown {
    border: 1px solid #365a8f;
    height: 30px;
    width: 300px;
    border-radius: 4px;
    outline: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px
}

.instructions {
    pointer-events: none;
    font-size: 10px
}

.termsCheckBox {
    margin-right: 2px
}

.finish-instructions {
    pointer-events: none;
    display: none
}

.input-bunch {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px
}

.flexy {
    display: flex;
    justify-content: space-around
}

.button-group {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    text-align: center
}

#title {
    margin: 0
}

.required-info {
    pointer-events: none
}

h3 {
    padding-left: 20px;
    pointer-events: none
}

h4 {
    margin: 9px;
    pointer-events: none
}

.LoginForm-reg input {
    border-radius: 4px;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border: 1px solid #365a8f;
    outline: none
}

.inline-it {
    display: inline-block
}

.RegLogoContainer {
    display: block;
    top: 20px;
    z-index: 100;
    height: 80px;
    width: 315px;
    float: right
}

@media screen and (max-width:991px) {
    .RegLogoContainer {
        display: none
    }

    .mainContainer {
        transform: translateY(0%);
        max-width: 322px
    }

    .RegisterTextbox, .locationDropDown {
        width: 250px
    }
}

.RegLogo {
    content: url("../Images/GMetrixLogo.svg");
    max-height: 80px;
    max-width: 315px
}

.RegButton {
    cursor: pointer;
    background-color: #365a8f;
    color: #fff;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    height: 35px !important;
    font-size: 12px;
    width: 150px !important;
    border-radius: 4px;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    box-sizing: border-box;
    border: 1px solid #365a8f;
    outline: none;
    transition: background-color .3s ease-in-out,box-shadow .3s ease-in-out;
    text-decoration: none
}

    .RegButton:hover {
        background-color: #add8e6;
        box-shadow: inset 0 0 70px #365a8f
    }

.mainFGPContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255,255,255,.85);
    width: 75%;
    max-width: 750px;
    padding-top: 20px;
    padding-bottom: 45px;
    box-shadow: 0 0 10px black;
    border: 1px solid #365a8f;
    border-radius: 10px
}

.ForgotButton {
    background-color: #365a8f;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    width: 150px !important;
    height: 35px !important;
    border-radius: 4px;
    padding: 8px 0;
    margin-right: 5px;
    box-sizing: border-box;
    border: 1px solid #365a8f;
    outline: none;
    transition: background-color .3s ease-in-out,box-shadow .3s ease-in-out
}

    .ForgotButton:hover {
        color: #fff;
        background-color: #add8e6;
        box-shadow: inset 0 0 70px #365a8f
    }

    .ForgotButton:focus {
        color: #fff;
        background-color: #add8e6;
        box-shadow: inset 0 0 70px #365a8f
    }

.ForgotButton-1 {
    position: absolute;
    cursor: pointer;
    background-color: #365a8f;
    color: #fff;
    bottom: 15px;
    left: 200px;
    height: 35px !important;
    font-size: 12px;
    width: 150px !important;
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-sizing: border-box;
    border: 1px solid #365a8f;
    outline: none;
    transition: background-color .3s ease-in-out,box-shadow .3s ease-in-out;
    text-decoration: none
}

    .ForgotButton-1:hover {
        color: #fff;
        background-color: #add8e6;
        box-shadow: inset 0 0 70px #365a8f
    }

    .ForgotButton-1:focus {
        color: #fff;
        background-color: #add8e6;
        box-shadow: inset 0 0 70px #365a8f
    }

.ForgotButton-2 {
    position: absolute;
    cursor: pointer;
    background-color: #365a8f;
    color: #fff;
    bottom: 15px;
    right: 200px;
    height: 35px !important;
    font-size: 12px;
    width: 150px !important;
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-sizing: border-box;
    border: 1px solid #365a8f;
    outline: none;
    transition: background-color .3s ease-in-out,box-shadow .3s ease-in-out;
    text-decoration: none
}

    .ForgotButton-2:hover {
        color: #fff;
        background-color: #add8e6;
        box-shadow: inset 0 0 70px #365a8f
    }

    .ForgotButton-2:focus {
        color: #fff;
        background-color: #add8e6;
        box-shadow: inset 0 0 70px #365a8f
    }

.student-number {
    padding-left: 20px
}

.infoContainer {
    background-color: rgba(0,52,102,.2)
}

.hideme {
    display: none
}

.reg-errorbox {
    width: 500px;
    border: 1px solid #365a8f;
    box-shadow: 0 0 20px black;
    background-color: rgba(255,255,255,.85);
    position: absolute;
    left: 50%;
    top: 7%;
    padding-top: 9px;
    padding-bottom: 9px;
    transform: translate(-50%,-50%);
    text-align: center;
    border-radius: 10px;
    font-size: 12px;
    display: none
}

.alert-textbox {
    margin-left: 50%;
    transform: translate(-50%);
    width: auto;
    min-width: 305px
}

.exit-X {
    position: absolute;
    top: -3px;
    left: 1.5px
}

.policyBanner {
    position: absolute;
    bottom: 40px;
    right: 20px;
    width: 270px;
    color: #fff;
    background-color: #000;
    border: solid 1px #365a8f;
    padding: 10px;
    font-size: 15px
}

.WhiteLink {
    color: #fff;
    text-decoration: underline
}

    .WhiteLink:visited {
        color: #fff;
        text-decoration: underline
    }

.OAuthButton {
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 0 !important;
    height: auto !important
}

.OAuthDetachButton {
    display: inline-block;
    position: relative;
    top: -13px;
    left: 5px;
    color: #ff4442
}

.OAuthButtons {
    width: 312px;
    margin-bottom: 20px
}

    .OAuthButtons div {
        display: inline-block;
        margin: 0 auto;
        width: 20%
    }

.labeledRule {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    font-size: large
}

    .labeledRule > span {
        position: relative;
        display: inline-block
    }

        .labeledRule > span:before, .labeledRule > span:after {
            content: "";
            position: absolute;
            top: 50%;
            width: 9999px;
            height: 1px;
            background: #333
        }

        .labeledRule > span:before {
            right: 100%;
            margin-right: 15px
        }

        .labeledRule > span:after {
            left: 100%;
            margin-left: 15px
        }

.ui-datepicker {
    background-color: #fff;
    width: 300px;
    margin: 5px auto 0;
    font: 12pt segoe,sans-serif
}

    .ui-datepicker table {
        width: 100%
    }

.ui-datepicker-header {
    background: #365a8f;
    color: #fff;
    font-family: 'Times New Roman';
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #708090;
    padding: 5px
}

.ui-datepicker-title {
    text-align: center;
    font-size: 15px
}

.ui-datepicker-prev {
    float: left;
    margin-left: 5px;
    cursor: pointer;
    background-position: center -30px
}

.ui-datepicker-next {
    float: right;
    margin-right: 5px;
    cursor: pointer;
    background-position: center 0
}

.ui-datepicker thead {
    background-color: #f7f7f7
}

.ui-datepicker th {
    background-color: gray;
    text-transform: uppercase;
    font-size: 8pt;
    color: #fff
}

.ui-datepicker-calendar {
    background-color: #fff;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #708090
}

.ui-datepicker tbody td {
    padding: 0
}

    .ui-datepicker tbody td:last-child {
        border-right: 0
    }

.ui-datepicker tbody tr {
    border-bottom: 1px solid #bbb
}

    .ui-datepicker tbody tr:last-child {
        border-bottom: 0
    }

.ui-datepicker a {
    text-decoration: none
}

.ui-datepicker td span, .ui-datepicker td a {
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #fff
}

.ui-datepicker-calendar .ui-state-default {
    background: linear-gradient(#999,#737373);
    color: #fff;
    height: 40px;
    width: 40px
}

.ui-datepicker-calendar .ui-state-hover {
    background: #365a8f;
    color: #fff
}

.ui-datepicker-calendar .ui-state-active {
    background: #365a8f;
    -webkit-box-shadow: inset 0 0 10px 0 rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 0 10px 0 rgba(0,0,0,.1);
    box-shadow: inset 0 0 10px 0 rgba(0,0,0,.1);
    color: #e0e0e0;
    text-shadow: 0 1px 0 #4d7a85;
    border: 1px solid #55838f;
    position: relative;
    margin: -1px
}

.ui-datepicker-unselectable .ui-state-default {
    background: #d6e4be;
    color: #000
}

.footer div:nth-child(2) {
    margin-right: 10vw
}

@media screen and (max-width:499px) {
    .mainFGPContainer {
        width: 100%
    }
}

@media screen and (min-width:500px) {
    .footer div:nth-child(2) {
        margin-right: 6vw
    }

    .mainFGPContainer {
        width: 100%
    }
}

@media screen and (min-width:850px) {
    .footer div:nth-child(2) {
        margin-right: 2vw
    }
}

@media screen and (min-width:1350px) {
    .footer div:nth-child(2) {
        margin-right: 0
    }
}
