.twenty48box {
    --size:200px;
    height:var(--size);
    width:var(--size);
}
.twenty48 {
    border: 3px solid transparent;
    border-radius: 5px;
    height:25%;
    width:25%;
}
.twenty48-light {
    background-color:yellow;
}
.twenty48-medium {
    background-color:orange;
}
.twenty48-dark {
    background-color:red;
}
.twenty48-vdark {
    background-color:darkred;
}
.twenty48-empty {
    background-color:lightgray;
}